.Page {
  background-color: black;
}

.App {
  text-align: center;
  width: 1160px;
  overflow: hidden;
  margin: auto;
  background-color: gold;
}

.searchbar {
  border-top: solid 2px;
  border-bottom: solid 2px;
}

.content {
  border-bottom: solid 2px;
}